<!DOCTYPE html>
<html>
<head>
 <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  <title><%=@title       %></title>
  <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  'application', 'data-turbolinks-track' => true %>

  
  <%= csrf_meta_tags %>
</head>
<body>



<header class="navbar navbar-fixed-top navbar-inverse">
 <div class="container">
 <nav>
   <ul class="nav navbar-nav navbar-right">
         <li><%= link_to "Home",   'status/index' %> </li>
   		<li><%= link_to "Login",   '#' %> </li>
   		<li><%= link_to "Payment",   '#' %></li>
   		<li><%= link_to  "Car Registration",'#' %></li>
   		<li><%= link_to  "Logout",'#' %></li>
    </ul>
 </nav>
<div class="container">
      <%= yield %>
 </div>

</body>
</html>
